<div class="col-xs-12">
  <h2>Meters</h2>
  <p>Last updated : {{lastUpdated | date : 'full'}}</p>
  <ul class ="list-group">
    <app-meter *ngFor="let meter of meters" [name] = "meter.name" [status]="meter.status" [id]="meter.id"></app-meter>
  </ul>
  <ui-switch [disabled]="!isAuth"  size = "large" uncheckedLabel  = "Switch Off All" checkedLabel= "Switch On All" [checked] = "monitorSwitchAll"  (valueChange)="switchAll($event)"></ui-switch>
</div>
<div>
  <button class="btn btn-success" (click)="onSave()">Save</button>
  <button class="btn btn-primary" (click)="onFetch()">Load meters</button>
</div>
